body {
	font-family: "Helvetica";
	margin: 1%;
	padding: 0;
    background-image: url(background.png);
}
h1 {
    text-align: center;
    color:rgb(230, 142, 111);
}



#Potatoclass {
    width: 100vw;
    height: 100vh;
  }
  
  #Potato {
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes move {
    0% {
      transform: translateX(100vw);
    }
  
    100% {
      transform: translateX(-20vw);
    }
  }